{% extends "base_and_header_footer.html" %}

{% block content %}
  <div class='flex-portfolio'>
    {% for ap in collection.related.all() %}
      <div class="card text-white four-per-row">
        <a href="{{ ap.url }}"></a>
        <img src='{{ ap.image_cut_square.url }}' class="card-img card-img-animated" alt="{{ ap.name }}">
        <div class="card-img-overlay">
          <h5 class="card-title card-text-animated">{{ ap.name }}</h5>
          <p class="card-text card-text-animated">{{ ap.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
