{% extends "base_and_header_footer.html" %}

{% block content %}
  <h2>{{ collection.name }}</h2>
  <div class='flex-portfolio'>
    {% for ap in artpieces %}
      <div class="card text-white four-per-row">
        <a class="stretched-link" href="{% url 'art_piece_detail' ap.slug %}"></a>
        <img src='{{ ap.image_cut_square.url }}' class="card-img card-img-animated" alt="{{ ap.name }}">
        <div class="card-img-overlay">
          <h5 class="card-title card-text-animated">{{ ap.name }}</h5>
          <p class="card-text card-text-animated">{{ ap.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
