{% extends "base_and_header_footer.html" %}

{% block head %}

{% endblock head %}


{% block content %}
  <div class="row">
    <img src="{{ object.image.url }}" class="col-6">
    <div class="col-6">
      <h2>{{ object.name }}<h3>
      <h4>{{ object.date_created }}<h4>
      <p>{{ object.description }}<p>
      <h3>{{ object.price }}<h3>
      {% if object.is_for_sale %}
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper form-group">
            {{ form.piece.errors }}
            <input type="hidden" class="form-control" id="id_piece" name="piece" type="text" maxlength="100" value="{{ object.name }}" default="{{ object.name }}" required>
        </div>
        <div class="fieldWrapper form-group">
          {{ form.size.errors }}
          <label for="{{ form.size.id_for_label }}">Size:</label>
          <select id="id_size" name="size" required>
            {% for sz in object.size_options.all %}
              <option value="{{ sz.size }}">{{ sz.size }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-dark btn-lg btn-block">ADD TO CART</button>
        </div>
      </form>
      {% else %}
        <button type="button" class="btn btn-dark btn-lg" disabled>SOLD OUT OR NOT FOR SALE</button>
      {% endif %}
    </div>
  </div>
  {% if object.secondary_image %}
  <img src="{{ object.secondary_image.url }}">
  {% endif %}

{% endblock content %}
