{% extends "base_and_header_footer.html" %}

{% block content %}
<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link btn-light" href="{% url 'art_collection_list' %}">Collections</a>
  <a class="nav-item nav-link btn-dark active" href="{% url 'art_piece_list' %}">Pieces</a>
</nav>
  <div class='flex-portfolio'>
    {% for ap in pieces %}
      <div class="card text-white four-per-row">
        <a class="stretched-link" href="{% url 'art_piece_detail' ap.slug %}"></a>
        <img src='{{ ap.image_cut_square.url }}' class="card-img card-img-animated" alt="{{ ap.name }}">
        <div class="card-img-overlay">
          <h5 class="card-title card-text-animated">{{ ap.name }}</h5>
          <p class="card-text card-text-animated">{{ ap.description }}</p>
          <p class="card-text card-text-animated">{{ ap.date_created }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
