{% extends "base.html" %}

{% block content %}
  <div class="flex-row-wrap-container text-center text-align-bottom">
    <div class="card text-white flex-gs-half-basis-item border-0">
      <img src='{{ mostRecentArtPiece.image.url }}' class="card-img" alt="most recent piece">
      <div class="card-img-overlay">
        <a href="{% url 'art_collection_list' %}" class="btn btn-light home-btn btn-lg">Art</a>
      </div>
    </div>
    <div class="card text-white flex-gs-half-basis-item border-0">
      <img src='{{ mostRecentCodeProject.thumbnail.url }}' class="card-img" alt="most recent code">
      <div class="card-img-overlay">
        <a href="{% url 'code_project_list' %}" class="btn btn-dark home-btn btn-lg">Code</a>
      </div>
    </div>
  </div>
{% endblock content %}
